<% if collection.exists? %>
      <% collection.each do |element| %>
        <%= link_to element.name, element %><br><br>
      <% end %>
    <% else %>
      <% model_name = collection.class.to_s.underscore.split('/')[0] %>
      <button>
      <%= link_to "Add New", send("new_#{model_name}_path", collection) %>
      </button>
<% end %>
